.citation-container {
  display: flex;
}

.left-col {
  flex: 0 0 75%;
}

.left-col select {
  width: 100% !important;
}

#formatted-bibliography {
  margin-top: 20px;
}

.right-col {
  flex: 1;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.right-col input.form-submit {
  margin-top: 0 !important;
}
