/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by
   a more specific style rule, CSS declarations in global.css will apply site-wide. */


/* precedence: global */

/* WEATHER */
 
@font-face {
  font-family:	"Aleo Regular";
  src:			url("aleo-regular-webfont.woff");
}
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

body { background: #f9f9f9; } /* light gray to make white pop */

#admin_menu { font-size: 11px ! important; }

h1, h2, h3, h4, h5, h6 { font-family: aleo regular, sans-serif; line-height: 1.2; margin-bottom:10px; }








#page p, #page table, #page li, #page div {
  font-family: open sans, helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}



/* HEADER header tag */

@media (max-width: 600px) {
  div.responsive-menus {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

a#superfish-1-toggle span {
  display: none;
}

/* ASIDE aside tag */

@media (max-width: 600px) {
  aside#region-sidebar-first {
    border-top: solid 5px #3476cc;
  }
}
/* course block */
aside#region-sidebar-first > .region-inner > .block:first-child { background-color: #eaf1fa; }
aside#region-sidebar-first > .region-inner > .block:first-child p { font-family: aleo regular ! important; font-weight: bold; }
aside#region-sidebar-first > .region-inner > .block:first-child { padding: 5px 8px 0px 8px; }

aside#region-sidebar-first section, aside#region-sidebar-first div div.block {
  padding-top: 2px;
  margin-bottom: 25px;
}
aside#region-sidebar-first section h2, aside#region-sidebar-first div div.block h2 {
  margin-top: 5px;
}
aside#region-sidebar-first section .block-title {
  font-size: 14px;
  color: #565656;
}
aside#region-sidebar-first div#block-search-form form.search-form {
  margin-top: 10px;
}
aside.region-sidebar-first ul {
  padding-left: 6px;
}


/* FOOTER footer tag */

#zone-course-footer-wrapper     { color: white; background-color: #3476cc; }
#zone-dutton-footer-wrapper     { color: white; background-color: #262c3c; }
#zone-penn-state-footer-wrapper { color: white; background-color: #141720; }




/* reset for paddings/margins in footer */
div#zone-course-footer *, div#zone-dutton-footer *, div#zone-penn-state-footer * {
  margin: 0;
  padding: 0;
  font-size: 11px;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.3;
}
div#zone-course-footer h3, div#zone-dutton-footer h3, div#zone-penn-state-footer h3 {
  font-size: 11px;
  letter-spacing: .03px;
  margin-bottom: 2px;
  color: white;
}

div#zone-course-footer, div#zone-dutton-footer, div#zone-penn-state-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
div#zone-course-footer a           { color: white; text-decoration: underline; }
div#zone-course-footer a:hover     { color: white; text-decoration: none; }
div#zone-dutton-footer a           { color: white; text-decoration: none; }
div#zone-dutton-footer a:hover     { color: white; text-decoration: underline; }
div#zone-penn-state-footer a       { color: white; text-decoration: underline; }
div#zone-penn-state-footer a:hover { color: white; text-decoration: none; }

div#zone-dutton-footer .col1 p {
  margin: 10px 5px 5px 0px;
}

div#zone-dutton-footer .col1 {
  display: block;
}
div#zone-dutton-footer .col2, div#zone-dutton-footer .col3,
div#zone-dutton-footer .col4, div#zone-dutton-footer .col5 {
  display: none;
}

div#zone-dutton-footer ul {
  list-style-type: disc;
  list-style-position: outside;
  list-style-image: none;
  margin: 0 0 0 1em;
  padding: 0 0 0 0;
}
div#zone-dutton-footer ul li {
  color: #ffffff;
}
div#zone-course-footer p.author { margin: 0 0 20px 0; }
div#zone-course-footer p        { margin: 7px 0; }


div#zone-penn-state-footer .col1, div#zone-penn-state-footer .col2, div#zone-penn-state-footer .col3 {
  display: block;
  width: 99%;
}


div#zone-course-footer     { padding: 5px; }
div#zone-dutton-footer     { padding: 5px; }
div#zone-penn-state-footer { padding: 5px; }




/* Carl */




h1, h2, h3, h4, h5, h6	{ color: #000; font-weight: normal; letter-spacing: 0em;}
h1						{ font-size: 33px; }
h2						{ font-size: 26px; }
h3						{ font-size: 22px; }
h4						{ font-size: 18px; }
h5						{ font-size: 14px; font-weight:bold; }
h6						{ font-size: 12px; }





/*
a[href$=".jpg"], 
a[href$=".gif"], 
a[href$=".png"], 
a[href$=".bmp"], 
a[href$=".jpeg"], 
a[href$=".svg"], 
a[href$=".eps"] {
    background: url("/geog885d7/sites/www.e-education.psu.edu.geog885d7/files/icon-image.gif") no-repeat scroll right center rgba(0, 0, 0, 0);
    padding: 5px 20px 5px 0;
}
*/



div.fielditem > p > ol 	{ margin-bottom: 100px; }
h3 						{ margin-bottom:   5px; }

h4 + table,				
p + ul,
p + ol					{ margin-top: -5px; }

h3 + h4					{ margin-top:  15px; }

h4 + p					{ margin-top: -5px; }

dd > ol, dd > ul 		{ margin:         10px 0px 10px 0px; }
div.field-item li > ul	{ margin-left:    10px; }


ol li					{ margin-left: 15px; }
li						{ margin-bottom: 5px; }

.field-item ul			{ margin-left: 20px; }
ul li.leaf				{ list-style: disc; }
div.field-item ul ul	{ list-style: circle; }



.region-inner	{ margin-bottom: 30px; }
.page-links 	{ margin-bottom: 10px; }
.print-link 	{ font-size: 12px; margin-top: -45px; display:block; float:right; }



/*
div.calloutblue					{ background: #3476cc; margin: 20px 0px; padding: 25px; }

div.calloutblue p,
div.calloutblue ol,
div.calloutblue li,
div.calloutblue h2,
div.calloutblue h3,
div.calloutblue h4				{ color: #ffffff; }

div.calloutblue h2,
div.calloutblue h3, 			
div.calloutblue h4 				{ margin-bottom: 10px; }

div.calloutblue ul:last-child,
div.calloutblue p:last-child	{ margin-bottom: 0px; }

div.calloutblue a:link,
div.calloutblue a:visited		{ color: #ffff00; }

div.calloutblue a:hover,
div.calloutblue a:active		{ color: #ccffff; }




div#calloutgray					{ background: #e4e4e4; margin: 20px 0px; padding: 25px; }

div#calloutgray p:last-child,
div#calloutgray ul:last-child	{ margin-bottom: 0px; }

div#calloutgray	h2,				
div#calloutgray	h3,				
div#calloutgray	h4				{ margin-bottom: 10px; color:#000;}

div#calloutgray a:link,
div#calloutgray a:visited		{ color: #0062a0; }

div#calloutgray a:hover,
div#calloutgray a:active		{ color: #000000; }




div#calloutyellow					{ background: #e4e4e4; margin: 20px 0px; padding: 25px; }

div#calloutyellow p:last-child,
div#calloutyellow ul:last-child		{ margin-bottom: 0px; }

div#calloutyellow	h2,				
div#calloutyellow	h3,				
div#calloutyellow	h4				{ margin-bottom: 10px; color:#000;}

div#calloutyellow a:link,
div#calloutyellow a:visited		{ color: #0062a0; }

div#calloutyellow a:hover,
div.calloutblue a:active			{ color: #000000; }
*/



table#coursetable, 				
table#coursetable ul li 		{ font-family: open sans, helvetica, arial, sans-serif; font-size: 12px; line-height: 15px; }
	
table#coursetable th 			{ background: #3878c9; color: #fff; font-weight: bold; }
table#coursetable td, 
table#coursetable th 		{ border: 1px solid #7f7f7f; padding: 7px; vertical-align: top; }
table#coursetable .left 		{ background: #efefef; }
table#coursetable .notoffered 	{ background: #dddddd; }



aside#region-sidebar-first section .block-title	{ color: #565656; font-size: 18px; font-weight: normal; line-height: 21px; }

aside#region-sidebar-first section h2,
aside#region-sidebar-first div div.block h2		{ font-weight: normal; margin-bottom: 8px; margin-top: 2px; }

aside.region-sidebar-first ul					{ font-size: 13px; line-height: 18px; padding-left: 15px; }
aside.region-sidebar-first li 					{ font-size: 11px; line-height: 18px; }

.region-sidebar-first-inner >
div:first-child > div:first-child >
div:first-child > p:first-child 				
	{
		color: #565656;
		font-family: aleo regular !important;
		font-size: 16px !important;
		font-weight: normal;
		line-height: 22px !important;
	}










a.divLink { position: absolute; width: 100%; height: 100%; top: 0; left: 0; text-decoration: none; z-index: 10;
    background-color: white;
    /*workaround to make clickable in IE */
    opacity: 0;
    /*workaround to make clickable in IE */
    filter: alpha(opacity=0);
    /*workaround to make clickable in IE */
}



.region-branding > div:first-child > div:first-child > p:first-child  {   }


#region-sidebar-first .content p { margin-bottom: 10px; }



table#checklisttable,
table#checklisttable ul,
table#checklisttable li,
table#checklisttable th,		
table#checklisttable td			{ font-family: open sans, helvetica, arial, sans-serif; font-size: 14px; line-height: 17px; }

table#checklisttable td, 
table#checklisttable th 	{ border: 1px solid #7f7f7f; padding: 7px; vertical-align: top; }
table#checklisttable			{ background: #ebf1f9; }
table#checklisttable th			{ background: #3878c9; color: #fff; font-weight: bold; }



table#threecoltable,
table#threecoltable ul,
table#threecoltable li,
table#threecoltable th,
table#threecoltable td			{ font-family: open sans, helvetica, arial, sans-serif; font-size: 14px; line-height: 17px; }

table#threecoltable td, 
table#threecoltable th 		{ border: 1px solid #7f7f7f; padding: 7px; vertical-align: top; }
table#threecoltable				{ background: #ebf1f9; }
table#threecoltable th			{ background: #3878c9; color: #ffffff; font-weight: bold; width: 33%; }



#page .image-center				{ border: 1px solid #ccc; margin-bottom: 20px; width: 100%; }
#page .image-center	img			{ max-width:100%; }

#page div.image-center,
#page div.image-caption,
#page div.image-credit			{ font-family: open sans, helvetica, arial, sans-serif; text-align: center; }

#page div.image-credit			{ text-align:right; padding: 5px 10px 10px 10px; }
#page div.image-caption			{ text-align:left; padding: 10px 10px; }

#page div.image-center img		{ padding: 0px 0px; }

#page .image-caption,	
#page .image-credit				{ background: #eee; padding: 5px 10px 10px 10px; }

#page .image-caption			{ font-size: 13px; font-weight: bold; line-height: 16px; }
#page .image-copy				{ font-size: 13px; font-weight: normal; line-height: 16px; }
#page .image-credit				{ font-size: 12px; font-style: italic; line-height: 14px }


/******************************/
/* Legacy                     */
/******************************/
#page div.caption,
#page div.credit			{ background: #eee; font-family: open sans, helvetica, arial, sans-serif; padding: 7px 0px; text-align: center; }

#page div.caption			{ font-size: 13px; font-weight: bold;  line-height: 16px; padding: 10px 10px; }
#page div.credit			{ font-size: 12px; font-style: italic; line-height: 14px; padding: 10px 10px 10px 10px; }

#page .imgnofloat			{ border: 1px solid #ccc; font-family: open sans, helvetica, arial, sans-serif; margin-bottom: 20px; text-align: center; width: 100%; }
#page .imgnofloat img		{ max-width: 100%; }




#page div.field-item blockquote				{ border-left: 15px solid #eeeeee; color: #333333; font-style: italic; line-height: 24px; margin: 30px; padding-left: 15px; }
#page div.field-item blockquote.steplist	{ border-left: 15px solid #eeeeee; color: #333333; font-style: normal; line-height: 22px; margin: 30px; padding-left: 15px; }






table#evidencetable					{ background: #e4e4e4; text-align: center;  color:red;}

table#evidencetable,
table#evidencetable ul,
table#evidencetable li,
table#evidencetable th,				
table#evidencetable td				{ font-family: open sans, helvetica, arial, sans-serif; font-size: 14px; line-height: 17px; }

table#evidencetable td, 
table#evidencetable th 			{ border: 1px solid #7f7f7f; padding: 7px; vertical-align: top; }
table#evidencetable th				{ background: #cccccc; font-weight: bold; text-align: center; width: 15%; }
table#evidencetable .evidencehd		{ background: #ffffff; font-weight: bold; text-align: left; width: 40%; }
table#evidencetable .evidence		{ text-align: left; width: 35%; }



table#rubric			{ background: #fff; }

table#rubric,
table#rubric ul,
table#rubric li,
table#rubric th,
table#rubric td		{ font-family: open sans, helvetica, arial, sans-serif; font-size: 12px; line-height: 14px; }

table#rubric td, 
table#rubric th 	{ border: 1px solid #7f7f7f; padding: 7px; vertical-align: top; }
table#rubric th		{ background: #e4e4e4; font-weight: bold; text-align: center; }

table.rubricnames 			{ width: 100%; }
table.rubricnames th.left	{ font-weight: bold; border: 1px solid #7f7f7f; padding: 7px; vertical-align: top; width: 40%; }
table.rubricnames td.entry	{ background: #fff; border: 1px solid #7f7f7f; padding: 7px; vertical-align: top; width: 60%; }

div.book-navigation .menu 			{ padding: 10px 0 20px 20px; color: #555; }
div.book-navigation .menu a			{ text-decoration:none; }
div.book-navigation .page-links		{ font-family: aleo regular, helvetica, arial; font-size: 12px; color: #555; }
div.book-navigation .page-links	a	{ text-decoration:none; }


.imgleft			{ float: left; padding: 0px 20px 20px 0px; font-family: aleo regular, helvetica, arial; font-size: 11px; }
.imgright 			{ float: right; padding: 0px 0px 20px 20px; font-family: aleo regular, helvetica, arial; font-size: 11px; }

.imagecaption		{ font-family: open sans, helvetica, arial, sans-serif; font-size: 12px; line-height: 15px; }
#page .file-icon	{ border: 0px; padding-left: 4px; }
.image-center img	{ max-width: 100%; }
img.fullwidth 		{ max-width: 100%; }


table.fullwidth-noborder 		{ border: 0px; margin: 10px 0px; width: 100%; }
table.fullwidth-noborder td		{ font-size: 16px; }
table.fullwidth-noborder img	{ border: 1px solid #333; margin-bottom: 5px; max-width:100%; }



hr	{ background: none repeat scroll 0 0 #666666; border: medium none; height: 1px; padding: 0px; }




table.basictable 			{ border: 0px; margin: 10px 0px; width: 100%; }

table.basictable td,
table.basictable th			{ border: 1px solid #333; font-family: open sans, helvetica, arial, sans-serif; font-size: 14px; line-height: 17px; padding: 5px; }

table.basictable th			{ background: #e4e4e4; font-weight: bold; }
table.basictable img		{ border: 1px solid #333; margin-bottom: 5px; }
table.basictable caption	{ font-family: open sans, helvetica, arial, sans-serif; font-weight: bold; margin-top: 10px; margin-bottom: 5px; }

table.basictable .center	{ text-align: center; }
table.basictable .empty		{ background: #f2f2f2; }

table.week th				{ text-align: center; width: 14%; }



.instructorphoto			{ height: 200px; width: 200px; }

.twoimagetable					{ width: 100% ! important; margin-top: 10px ! important; margin-bottom: 10px ! important; }
.twoimagetable .leftimage		{ float: left ! important; width: 49% ! important; margin-bottom: 10px ! important;}
.twoimagetable .leftimage img	{ max-width: 100% ! important; padding-bottom: 0px ! important margin-bottom: 0px ! important;}
.twoimagetable .rightimage		{ float: right ! important; width: 49% ! important; }
.twoimagetable .rightimage img	{ max-width: 100% ! important; padding-bottom: 0px ! important; margin-bottom: 0px ! important;}

div.twoimagetable + ul { clear: both ! important; }

div.twoimagetable + h3 {clear:both}

#coursetitleright	{ margin-bottom: 10px; }
.coursenumber		{ font-family: open sans, helvetica, arial; }
.coursetitle		{ font-family: open sans, helvetica, arial; font-weight:600; }






/* global */

div#martytest {
  margin: 5px 0px;
  padding: 5px 5px 5px 5px;
  background-color: pink;
  border: 1px solid black;
}



ul.menu > li.active  {color:#666666;text-decoration:none;}

ul.menu > li.active > a.active {color:#666666;text-decoration:none;}
ul.menu > li.active > a:link {color:#666666;text-decoration:none;}
ul.menu > li.active > a:visited {color:#666666;text-decoration:none;}

ul.menu > li.active > ul.menu {color:#666666;text-decoration:none;}

ul.menu > li.active > ul.menu > li > a.active {color:#666666;text-decoration:none;}
ul.menu > li.active > ul.menu > li > a:link {color:#666666;text-decoration:none;}
ul.menu > li.active > ul.menu > li > a:visited {color:#666666;text-decoration:none;}



.test-ignore {background:red;}
.test-ignore:after {content: "global";}


#page .region-branding .course-title	{ color: #4d4d4d; font-family: open sans,helvetica,arial; font-size: 18px; }
#page .region-branding .course-name		{ color: #4d4d4d; font-family: open sans,helvetica,arial; font-size: 24px; font-variant:small-caps; font-weight: 600; line-height: 28px; padding-top: 2px; }

.hidden		{ display: none; }



aside .block-inner a:link {text-decoration:none;}





.box-reading-required, .box-reading-optional, 
.box-note, .box-activity-required, .box-activity-optional,
.box-image-left, .box-psu-ad, .box-other
	{ background: #d2e6ff; margin: 20px 0px; padding: 25px; }

.box-reading-required p:last-child, .box-reading-optional p:last-child, 
.box-note p:last-child, .box-activity-required p:last-child, .box-activity-optional p:last-child,
.box-image-left p:last-child, .box-psu-ad p:last-child, .box-other p:last-child
	{ margin-bottom: 0px; }

.box-reading-required ul:last-child, .box-reading-optional ul:last-child, 
.box-note ul:last-child, .box-activity-required ul:last-child, .box-activity-optional ul:last-child,
.box-image-left ul:last-child, .box-psu-ad ul:last-child, .box-other ul:last-child
	{ margin-bottom: 0px; }

.box-reading-required h2, .box-reading-optional h2, 
.box-note h2, .box-activity-required h2, .box-activity-optional h2,
.box-image-left h2, .box-psu-ad h2, .box-other h2
	{ margin-bottom: 10px; color:#000;}

.box-reading-required h3, .box-reading-optional h3, 
.box-note h3, .box-activity-required h3, .box-activity-optional h3,
.box-image-left h3, .box-psu-ad h3, .box-other h3
	{ margin-bottom: 10px; color:#000;}
	
.box-reading-required h4, .box-reading-optional h4, 
.box-note h4, .box-activity-required h4, .box-activity-optional h4,
.box-image-left h4, .box-psu-ad h4, .box-other h4
	{ margin-bottom: 10px; color:#000;}

.box-reading-required a:link, .box-reading-optional a:link, 
.box-note a:link, .box-activity-required a:link, .box-activity-optional a:link,
.box-image-left a:link, .box-psu-ad a:link, .box-other a:link
	{ color: #0062a0; }

.box-reading-required a:visited, .box-reading-optional a:visited, 
.box-note a:visited, .box-activity-required a:visited, .box-activity-optional a:visited,
.box-image-left a:visited, .box-psu-ad a:visited, .box-other a:visited
	{ color: #0062a0; }

.box-reading-required a:hover, .box-reading-optional a:hover, 
.box-note a:hover, .box-activity-required a:hover, .box-activity-optional a:hover,
.box-image-left a:hover, .box-psu-ad a:hover, .box-other a:hover
	{ color: #000000; }

.box-reading-required a:active, .box-reading-optional a:active, 
.box-note a:active, .box-activity-required a:active, .box-activity-optional a:active,
.box-image-left a:active, .box-psu-ad a:active, .box-other a:active
	{ color: #000000; }


.box-note + .box-psu-ad { margin-bottom: 0px; }

.box-note + ol { margin-left: 0px; margin-bottom: 0px; }
.box-note > ol { margin-left: 0px; margin-bottom: 0px; }
.box-activity-required > ol  { margin-bottom: 0px; }


.box-math 			{ margin-top:10px; float: left; text-align: center; width: 84%; }
.box-math-caption 	{ text-align:right; display: block !important; margin: 1em 0; float: right; width: 16%; font-size: 90%; }
.box-math-clear		{ clear: both; }


.text-left  	{ text-align: left; }
.text-right		{ text-align: right; }
.text-center	{ text-align: center; }



#course_footer .cc-img {float:right;margin:0px 0px 15px 15px;}





#page .img-center				{ border: 1px solid #ccc; margin-bottom: 15px; width: 100%; }
#page .img-center img			{ max-width:100%; }

#page div.img-center,
#page div.img-caption,
#page div.img-credit			{ font-family: open sans, helvetica, arial, sans-serif; text-align: center; }


#page div.img-caption,
#page div.img-credit			{ padding: 5px 10px 10px 10px; }

#page div.img-center img		{ padding: 0px 0px; }

#page .img-caption,	
#page .img-credit				{ background: #eee; padding: 5px 10px 10px 10px; }

#page .img-caption				{ font-size: 13px; font-weight: bold; line-height: 16px; }
#page .img-copy					{ font-size: 13px; font-weight: normal; line-height: 16px; }
#page .img-credit				{ font-size: 12px; font-style: italic; line-height: 14px }



li.dhtml-menu-open > a.active,
li.dhtml-menu-open > a:link,
li.dhtml-menu-open > a:visited
	{ color: #666; font-style: normal; text-decoration: none; }

ul.menu ul.menu li.leaf,
ul.menu ul.menu li.leaf a:link,
ul.menu ul.menu li.leaf a:visited,
ul.menu ul.menu li.leaf a:active	
	{ color: #666; font-style: normal; text-decoration: none; }



table.table-checklist caption { font-weight: bold; margin-bottom: 5px; margin-top: 10px; }

table.table-checklist,
table.table-checklist ul,
table.table-checklist li,
table.table-checklist th,		
table.table-checklist td	{ font-family: open sans, helvetica, arial, sans-serif; font-size: 14px; line-height: 17px; }
table.table-checklist td p	{ font-family: open sans, helvetica, arial, sans-serif; font-size: 14px; line-height: 17px; }

table.table-checklist td, 
table.table-checklist th 	{ border: 1px solid #7f7f7f; padding: 7px; vertical-align: top; }
table.table-checklist		{ background: #fff; }
table.table-checklist th	{ background: #aaa; color: #fff; font-weight: bold; }


table.table-checklist 								{ border: 1px solid  #333; }
table.table-checklist th 							{ border: 1px dotted #666; }
table.table-checklist td 							{ border: 1px dotted #666; }

table.table-checklist th[scope=col] 				{ border-bottom: 1px solid #333; border-right: 1px solid #333; }
table.table-checklist th[scope=row]					{ border-right: 1px solid #333; background: #ccc; color: #000; }

table.table-checklist th+th[scope=col]				{ border-right: 1px dotted #666; }

table.table-checklist > thead > tr > th[scope=row]	{ border-right: 1px solid #333; border-bottom: 1px solid #333; background: #aaa; color: #fff; }




table.table-data caption { font-weight: bold; margin-bottom: 5px; margin-top: 10px;  }

table.table-data,
table.table-data ul,
table.table-data li,
table.table-data th,		
table.table-data td		{ font-family: open sans, helvetica, arial, sans-serif; font-size: 14px; line-height: 17px; }

table.table-data td, 
table.table-data th 	{ border: 1px solid #7f7f7f; padding: 7px; vertical-align: top; }
table.table-data		{ background: #fff; }
table.table-data th		{ background: #aaa; color: #fff; font-weight: bold; }


table.table-data th[scope=col] 					{ border-bottom: 1px solid #333; border-right: 1px solid #333; }
table.table-data th[scope=row]					{ border-right: 1px solid #333; background: #ccc; color: #000; }

table.table-data th+th[scope=col]				{ border-right: 1px dotted #666; }

table.table-data > thead > tr > th[scope=row]	{ border-right: 1px solid #333; border-bottom: 1px solid #333; background: #aaa; color: #fff; }



table.table-data tbody tr:nth-child(odd) {
   background-color: #eee;
}


th.thin-left { }


table.table-schedule caption { text-align:left;border-left: 1px solid #7f7f7f; border-right: 1px solid #7f7f7f; border-top: 1px solid #7f7f7f; font-weight: bold; margin-bottom: 0px; margin-top: 10px; background:#c5c5c5;padding:5px;}

table.table-schedule,
table.table-schedule ul,
table.table-schedule li,
table.table-schedule th,		
table.table-schedule td		{ font-family: open sans, helvetica, arial, sans-serif; font-size: 14px; line-height: 17px; }

table.table-schedule td, 
table.table-schedule th 	{ border: 1px solid #7f7f7f; padding: 7px; vertical-align: top; }
table.table-schedule		{ background: #fff; }
table.table-schedule th		{ background: #aaa; color: #fff; font-weight: bold; }


table.table-schedule th[scope=col] 					{ border-bottom: 1px solid #333; border-right: 1px solid #333; }
table.table-schedule th[scope=row]					{ border-right: 1px solid #333; background:#ecebeb; color: #000; }

table.table-schedule th+th[scope=col]				{ border-right: 1px dotted #666; }

table.table-schedule > thead > tr > th[scope=row]	{ border-right: 1px solid #333; border-bottom: 1px solid #333; background: #aaa; color: #fff; text-transform:capitalize; }

table.table-schedule th[scope=row]					{ width:30%; }
table.table-two-30-70 th[scope=row]					{ width:30%; }




.box-bibliography			{ margin-bottom: 15px; padding-left: 25px; text-indent: -25px; }




li > div.image-center {margin-top:20px;margin-bottom:20px;}
li > div.img-center {margin-top:20px;margin-bottom:20px;}



pre, .code, .pre {
	background:		#d8e9dd;
	font-family: 	Courier,Courier New,Inconsolata,Lucida Console,monospace !important;
	font-size:		105%;
	line-height:	130%;
	margin:			0px 0px 20px 0px;
	padding:		20px;
	max-width:		100%; 
	overflow:		auto; 
	white-space:	pre-wrap;
	word-spacing:	normal; 
	word-wrap:		break-word;
}
.pre { font-weight: bold; }

code {
	font-family: 	Courier,Courier New,monospace !important;
}




.link-top 		{ display: block; font-size: 80%; text-align: right; }
div.feed-icon	{ margin-bottom: 20px; }







#zone-menu a {
    color: #ffffff;
    font-family: open sans,sans-serif;
    font-size: 14px;
    height: 26px;
    padding: 8px 4px 0;
    text-decoration: none;
}
#zone-menu a {
    margin: 0;
}
.sf-menu a {
    display: block;
    position: relative;
}
.sf-menu, .sf-menu * {
    list-style: none outside none;
}




video							{ width: 100% !important; height: auto !important; }
.video-wrapper 					{ position: relative !important; padding-bottom: 56.25% !important; padding-top: 0px !important; height: 0 !important; margin-bottom: 15px; }
    .video-wrapper iframe,
    .video-wrapper object,
    .video-wrapper embed
    							{ position: absolute !important; top: 0 !important; left: 0 !important; width: 100% !important; height: 100% !important; min-height: 100% !important; }

.image-center > .video-wrapper	{ margin-bottom: 0px; }



#page .video-center			{ border: 0; margin-bottom: 20px; width: 100%; text-align:center; }
#page .youtube				{ height: 315px; width: 560px;}
#page .video-center	embed, #page .video-center	iframe


			{ height: 315px; width: 560px;}
#page .video-center	embed	{ max-width: 100%; }
#page div.video-center img	{ padding: 10px 0px; }

div#zone-menu ul { text-transform:uppercase; }

#page p.highlight, #page span.highlight {font-weight:bold;color:#2a69c8;}
.highlight {font-weight:bold;color:#2a69c8;}

h3 + div.video-center {margin-top:20px;}
div.video-center + h3 {margin-top:30px;}





#comments div.user-picture > img	{ height:50px; float:left; padding: 0px 15px 15px 0px }
#comments p:first-child				{ clear:both; }
#comments .comment-submitted		{ }
#comments .username					{ font-weight:bold; background:#fdfedc; }
#comments .vud-widget-upanddown		{ margin-bottom: 30px; }
#comments .comment-thread-expand	{ text-transform: uppercase; font-size: 90%; font-weight: bold; }
#comments article					{ margin-bottom: 20px; }
#comments .indented					{ margin-left: 35px; }
#comments img						{ max-width:100%; }
#comments p:empty					{ display: none; }


div.box-psu-ad .imgleft		{ padding-bottom: 30px; }




.faq-with-rules li { border-bottom: 1px solid #ccc; padding: 10px 0px; }

ul.pager {margin-bottom:50px!important;}


.region-content-inner ol, .region-content-inner ul 	{ margin-left: 10px; }

table td.center { text-align: center; }

.footnote
{
font-size:90%;
border-top:1px solid #ccc;
margin:50px 0px;
padding-top:10px;
}



ul li {
    margin-left: 15px;
}

dl	{ margin: 0 0 20px 0; }
dt	{ color: #3476cc; font-size: 16px; font-weight: bold; line-height: 20px; margin-bottom: 5px; }
dd	{ font-size: 14px; line-height: 17px; font-style: normal; margin-bottom: 15px; padding-left: 25px;}


.node_is_hidden, .node_is_hidden *, a.node_is_hidden, a.node_is_hidden:link, a.node_is_hidden:active 
{ text-decoration: line-through!important; }



.img-right, .image-right		{ border: 1px solid #ccc; float: right; margin: 0px 0px 20px 20px; max-width: 100%; }
.img-right	img, .img-left img	{ max-width: 100%; }
.img-left, .image-left			{ border: 1px solid #ccc; float:  left; margin: 0px 20px 20px 0px; max-width: 100%; }





/**************************************************/
/* MOBILE MENUS                                   */
/**************************************************/


.responsive-menus.responsified 
span.toggler					{ background: #3476cc; border-radius: 0px; box-shadow: none; color: #fff; cursor: pointer; display: block; font-size: 1.15em; outline: medium none; padding: 4px; text-align: center; }
.responsive-menus.responsified	{ clear: both; width: 100%; }
.responsive-menus.responsified 
.responsive-menus-simple 		{ background: none repeat scroll 0 0 #333; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; box-shadow: none; width: 100%; }
#zone-menu a 					{ color: #ffffff; font-family: open sans,sans-serif; font-size: 13px; height: 26px; padding: 8px 4px 0 4px; text-decoration: none; }
.responsive-menus.responsified 
.responsive-menus-simple li 	{ clear: both; display: block; list-style: none outside none; margin: 0; padding: 0 0 0 5px; width: 100%; }
.region-inner 					{ margin-bottom: 0px; }

.course-title-container table 	{ border: 0px; }



article img { max-width:100%; }

.comment-thread-expand { display:block;background:#bddef3;padding:3px;text-align:center;margin-top:-20px;margin-bottom:20px;}
.rss-icon {height:40px;width:40px;float:left;margin:0 10px 0 0;}




.show-and-tell { padding:10px; margin-bottom: 20px; width: 100%; }

.show-and-tell td {   }


td.tell, td.show	{ width: 50%; vertical-align: top; margin:0px;padding:10px;border: 1px solid #ccc;}

td.tell pre	{ background: #efefef; margin: 0px; }



.show-and-tell tr:hover td, .show-and-tell tr:hover td {background-color:#fff;}

.show table, .show tbody, .show tfoot, .show thead, .show tr, .show th, .show td {
    width: auto!important;
    border-collapse: separate!important;
    outline: initial!important;
    vertical-align: top!important;
    border-spacing:2px!important;
    padding: 2px!important;
}


.show table {
    border-collapse: separate;
    border: 1px solid;
}

li > div.image-center 	{margin-top:10px;}
li > div.img-center 	{margin-top:10px;}

li > p {margin-bottom:10px;}



@media (max-width: 720px) {

.course-title-container {
	background: url('https://www.e-education.psu.edu/drupal7/sites/all/themes/meteo/css/weather-mobile-brand-head.gif') no-repeat center top; background-size: 100% auto;}
span.course-title						{ display:block; margin-top: 40px;  margin-bottom: -20px; }

}


.list-alpha-lower	{ list-style-type: lower-alpha; }
.list-alpha-upper	{ list-style-type: upper-alpha; }
.list-roman-lower	{ list-style-type: lower-roman; }
.list-roman-upper	{ list-style-type: upper-roman; }



a[href ^="mailto:"] { padding: 0; background: none; }

math { font-size:125%; line-height: 125%; }

h3 + .video-wrapper { margin-top: 10px; margin-bottom: 25px; }

.clicktip { text-align: left; }

li.active a.active {color:#3476cc !important;font-weight:bold;}
li.active a:link.active {color:#3476cc !important;font-weight:bold;}


.image-right-35			{ border: 1px solid #ccc; margin-bottom: 20px; width: 100%;  }
.image-right-35 img		{ width: 100%; max-width: 100%; }

.image-left-35			{ border: 1px solid #ccc; margin-bottom: 20px; width: 100%;  }
.image-left-35 img		{ width: 100%; max-width: 100%; }



.box-motivate, .box-prioritize, .box-read, .box-explore, .box-keyskill, .box-casestudy, .box-quizyourself, .box-watch, .box-news, .box-meteomin
						{ padding: 10px 20px 10px 20px; margin-bottom: 20px; background: #fff; border:0px solid #000; border-radius: 25px; }

.header-motivate, .header-prioritize, .header-read, .header-explore, .header-keyskill, .header-casestudy, .header-quizyourself, .header-watch, .header-news, .header-meteomin
						{ padding-top:10px; font-size:28px; }



.header-motivate 		{ height: 55px; width: 55px; padding-left: 65px; background:url(https://courseware.e-education.psu.edu/dutton_drupal_theme_images/meteo_icons/wca_motivate.png)   no-repeat left top; }
.header-prioritize		{ height: 55px; padding-left: 65px; background:url(https://courseware.e-education.psu.edu/dutton_drupal_theme_images/meteo_icons/wca_prioritize.png) no-repeat left top; }
.header-read			{ height: 55px; padding-left: 65px; background:url(https://courseware.e-education.psu.edu/dutton_drupal_theme_images/meteo_icons/wca_read.png)    no-repeat left top; }
.header-explore 		{ height: 55px; padding-left: 65px; background:url(https://courseware.e-education.psu.edu/dutton_drupal_theme_images/meteo_icons/wca_explore.png)    no-repeat left top; }
.header-keyskill 		{ height: 55px; padding-left: 65px; background:url(https://courseware.e-education.psu.edu/dutton_drupal_theme_images/meteo_icons/wca_keyskill.png)   no-repeat left top; }
.header-casestudy 		{ height: 55px; padding-left: 65px; background:url(https://courseware.e-education.psu.edu/dutton_drupal_theme_images/meteo_icons/wca_casestudy.png)  no-repeat left top; }
.header-quizyourself 	{ height: 55px; padding-left: 65px; background:url(https://courseware.e-education.psu.edu/dutton_drupal_theme_images/meteo_icons/wca_quiz.png)  no-repeat left top; }
.header-watch		 	{ height: 55px; padding-left: 65px; background:url(https://courseware.e-education.psu.edu/dutton_drupal_theme_images/meteo_icons/wca_watch.png)  no-repeat left top; }

.header-news		 	{ height: 55px; padding-left: 65px; background:url(https://courseware.e-education.psu.edu/dutton_drupal_theme_images/meteo_icons/wca_news.png)  no-repeat left top; }
.header-meteomin	 	{ height: 55px; padding-left: 65px; background:url(https://courseware.e-education.psu.edu/dutton_drupal_theme_images/meteo_icons/wca_meteo.png)  no-repeat left top; }


pre a:link		{ color:#000000; text-decoration: none; }
pre a:visited	{ color:#000000; text-decoration: none; }
pre a:hover		{ color:#0062a0; text-decoration: underline!important; }



tr:hover td, 
tr.even:hover td.active, 
tr.odd:hover td.active { 
	background: inherit;
} 
 
.toggler 		{ padding:2px; margin-bottom:15px; text-align:center; background:#ebebeb; }
.toggler:hover	{ cursor:pointer; }

.clicktip 		{ font-style:italic; color:#0062a0;}

sub, sup  { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup       { top: -0.5em; }
sub       { bottom: -0.25em; }




.toggler-transcript-link	{ background: inherit; font-weight: lighter; font-style:italic; margin-bottom: 0px; }
.toggler-transcript-content	{ background: inherit; text-align: left; display: block; padding:10px; }

.toggler-ld-link 			{ background: inherit; font-weight: lighter; font-style:italic; margin-bottom: 0px; }
.toggler-ld-content 		{ background: inherit; text-align: left; display: block; padding-top:10px;}


/* formatting for transcript in img-caption with aria labeling */
.img-caption ul li, .img-caption p, .image-caption ul li, .image-caption p	
	{ text-align:left!important; }

.img-caption h3, .img-caption h4, .image-caption h3, .image-caption h4	
	{ text-align:left!important;margin-top:10px; }

div[aria-label="additional content"] p	{ font-weight:normal;margin-bottom:0px;margin-top:5px; }






/*==================*/
/* METEO 815 STYLES */
/*==================*/

.box-rdata-download {
	margin-bottom:20px;
	overflow:hidden;
	background:#d6e3ec;
	padding:20px;
}

.box-rdata-download img {
	float:left;
	margin:0px 20px 20px 0px;
}

.download-title {
	margin: 10px 0px 4px 0px!important;
	font-size: 28px!important;
	font-family: aleo regular, sans-serif!important;
	line-height: 1.2!important;
	color:#000!important;
}

.box-rdata-download a {
	padding:0px!important;
	background:none!important;
}

.box-rdata-download .download-title a {
	padding:0px!important;
	background:none!important;
}

.download-copy {
	font-family: open sans, helvetica, sans-serif!important;
	font-size: 14px!important;
	line-height: 20px!important;
}

.border-med {
	border:2px solid #000;
}






